@{
    ViewBag.Title = "Index";
}

<h3>Editar perfil</h3>

<script src="~/app/controller/PerfilCtrl.js"></script> 

<style type="Text/CSS">
    .btn {
        font-family: 'Times New Roman';
        font-size: 16px;
        text-align: center;
    }


</style>

<div class="container" ng-app="appPerfil" ng-controller="PerfilCtrl">


    <div ng-if="MostrarError=='S'">
        <br />
        <br />
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error</strong> {{Mensaje}}
        </div>
    </div>

    <div ng-if="MostrarAlerta=='S'">
        <br />
        <br /> 
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{Mensaje}}
        </div>

    </div>

    <div ng-if="MostrarInfo=='S'">
        <br />
        <br />
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Informacion</strong> {{Mensaje}}
        </div>
    </div>

    <section>
        <center>
            <div class="container">
                <div class="row clearfix" id="content-row">

                    

                    <div class="col-xs-10 column">

                        <div class="well" id="volume-fees-well">
                            <br />
                            <div class="panel panel-primary">
                                <div class="modal-footer">
                                    <button class="btn btn-success btn-lg" ng-click="Guardar()">Actualizar</button> 
                                    <a href="/Manage/Index/" class="mb-sm btn btn-primary">Administrar clave / Login</a>
                                </div>

                                <div class="panel-heading">
                                    <h3 class="panel-title">Informacion</h3> 
                                </div> 

                                <div class="panel-body">
                                    <form name="Show_Profile">
                                        <fieldset>
                                            <div class="col-md-3">
                                                <br />
                                                <img src="~/Content/Images/futbol.png" class="img-responsive img-rounded" />
                                            </div>
                                            <br />

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="Nombre">Nombre</label>
                                                    <div class="controls">
                                                        <input type="text" data-ng-model="Usuario.Nombre" maxlength="25" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="Apellido">Apellido</label>
                                                    <div class="controls">
                                                        <input type="text" data-ng-model="Usuario.Apellido" maxlength="25" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="FotoPrincipal">Fotografia</label>
                                                    <div class="controls">
                                                        <input type="file" data-ng-model="Usuario.FotoPrincipal" class="form-control">
                                                    </div>
                                                </div>
                                               
                                               
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="FechaNacimiento">Fecha Nacimiento</label>
                                                    <div class="controls">
                                                        <input type="date" class="form-control" data-ng-model="Usuario.FechaNacimiento">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="Descripcion">Descripcion</label>
                                                    <div class="controls">
                                                        <textarea class="form-control" rows="5" cols="10" maxlength="450" data-ng-model="Usuario.Descripcion"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </section>

   

</div>