@{
    ViewBag.Title = "Index";
}

<script src="~/app/controller/RolesCtrl.js"></script>


<div class="container" ng-app="appRoles" ng-controller="RolesCtrl">
    <div class="row">
        <div class="col-md-12">

  
            <div ng-if="MostrarError=='N'">
                <table class="table table-striped">
                    <tr> 
                        <th>Nombre del rol</th> 
                        <th>Accion</th> 
                    </tr>

                    <tr ng-repeat="item in ListaRegistros"> 
                        <td> {{item.Nombre}} </td> 
                        <td>
                            <button type="button" ng-click="EditarRegistro(item)" class="btn-green">Editar</button>
                            <button type="button" ng-click="EliminarRegistro(item)" class="btn-danger">Borrar</button>
                        </td>
                    </tr>

                    <form name="form" class="css-form" novalidate>
                        <tr ng-if="MostrarControles">
                             
                            <td>
                                <input type="text" class="form-control" placeholder="Nombre" maxlength="100" name="txtNombre" ng-model="Registro.Nombre" />
                            </td>
                             
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="Guardar()">Aceptar</button>
                                <button type="button" class="btn btn-default" ng-click="Limpiar()">Cancelar</button>
                            </td>
                        </tr>
                    </form>


                </table>
                <a ng-click="NuevoRegistro()" class="btn btn-primary">Nuevo</a> 
            </div>


            <div ng-if="MostrarError=='S'">
                <br />
                <br />
                <div class="alert alert-danger" role="alert">
                    {{Mensaje}}
                </div>
            </div>

            <div ng-if="MostrarAlerta=='S'">
                <br />
                <br />
                <div class="alert alert-warning" role="alert">
                    {{Mensaje}}
                </div>
            </div>

            <div ng-if="MostrarInfo=='S'">
                <br />
                <br />
                <div class="alert alert-green" role="alert">
                    {{Mensaje}}
                </div>
            </div>

        </div>
    </div>
</div>
