@model IEnumerable<Juega.BDD.Equipo>

@{
    ViewBag.Title = "Index";
}

<script src="~/app/controller/EquipoCtrl.js"></script>


<div class="container" ng-app="appCrearEquipo" ng-controller="EquipoCtrl">
    <table class="table table-striped">
        
        <tr ng-repeat="item in ListaRegistros">
            <td> {{item.Nombre}}  </td>
            
            <td>
                <button type="button" ng-click="EditarRegistro(item)" class="btn-green">Editar</button>
                <button type="button" ng-click="EliminarRegistro(item)" class="btn-danger">Borrar</button>
            </td>
        </tr>

        <form name="form" class="css-form" novalidate>
            <tr ng-if="MostrarControles">

                <td>
                    <input type="text" disabled="disabled" class="form-control" placeholder="Id Registro" ng-model="Registro.IdComplejoDeportivo" />
                </td>

                <td>
                    <input type="text" class="form-control" placeholder="Nombre" maxlength="10" name="txtNombre" ng-model="Registro.Nombre" />
                </td>

                <td>
                    <input type="text" class="form-control" placeholder="Telefonos" ng-model="Registro.Telefonos" />
                </td>

                <td>
                    <input type="text" class="form-control" placeholder="Coodernadas" ng-model="Registro.Coodernadas" />
                </td>

                <td>
                    <button type="button" class="btn btn-primary" ng-click="Guardar()">Aceptar</button>
                    <button type="button" class="btn btn-default" ng-click="Limpiar()">Cancelar</button>
                </td>
            </tr>
        </form>


    </table>
</div>
