<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Seguridad.AppHarbor" connectionString="Server=6b893867-c748-472f-b7db-a48b0078a1de.sqlserver.sequelizer.com;Database=db6b893867c748472fb7dba48b0078a1de;User ID=smwqkrrdyjsfmevb;Password=Doz2opgdSwsQBMxiDhCTp3gCbGKjEhS5MXSGb3vDxY5bx8Mt8JQwPfWJh6YPM5FJ;" providerName="System.Data.SqlClient" />
    <add name="Seguridad.A_W_S" connectionString="Server=52.24.185.40;Database=Seguridad;User ID=juega;Password=20941234;" providerName="System.Data.SqlClient" />

    
    <add name="Seguridad.dramos" connectionString="Data source=.;Integrated Security=True;Initial Catalog=Seguridad" providerName="System.Data.SqlClient" />
    <add name="Seguridad.dbustillo" connectionString="Server=DAVIDBUSTILLO;Database=Seguridad;User ID=sa;Password=HN91dadk;" providerName="System.Data.SqlClient" />
    <add name="Seguridad.Rudy" connectionString="Server=6b893867-c748-472f-b7db-a48b0078a1de.sqlserver.sequelizer.com;Database=db6b893867c748472fb7dba48b0078a1de;User ID=smwqkrrdyjsfmevb;Password=Doz2opgdSwsQBMxiDhCTp3gCbGKjEhS5MXSGb3vDxY5bx8Mt8JQwPfWJh6YPM5FJ;" providerName="System.Data.SqlClient" />
    <add name="Seguridad.Laura" connectionString="Server=6b893867-c748-472f-b7db-a48b0078a1de.sqlserver.sequelizer.com;Database=db6b893867c748472fb7dba48b0078a1de;User ID=smwqkrrdyjsfmevb;Password=Doz2opgdSwsQBMxiDhCTp3gCbGKjEhS5MXSGb3vDxY5bx8Mt8JQwPfWJh6YPM5FJ;" providerName="System.Data.SqlClient" />
    <add name="Seguridad.Javier" connectionString="Server=JAVIER-LAPTOP\SQL2012;Database=Seguridad;User ID=sa;Password=abc+123;" providerName="System.Data.SqlClient" />
    <add name="Seguridad.Cris" connectionString="Server=DEV\MSSQLDEV;Database=Seguridad;User ID=sa;Password=stone015" providerName="System.Data.SqlClient" />
    <add name="Seguridad.Maynor" connectionString="Server=MAYNOR-PC\SQLEXPRESS2014;Database=Seguridad;User ID=sa;Password=administrador;" providerName="System.Data.SqlClient" />
    <add name="Seguridad.Jesus" connectionString="Server=6b893867-c748-472f-b7db-a48b0078a1de.sqlserver.sequelizer.com;Database=db6b893867c748472fb7dba48b0078a1de;User ID=smwqkrrdyjsfmevb;Password=Doz2opgdSwsQBMxiDhCTp3gCbGKjEhS5MXSGb3vDxY5bx8Mt8JQwPfWJh6YPM5FJ;" providerName="System.Data.SqlClient" />
    
    <add name="Juega.AppHarbor" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4a611efd-11f7-4e3c-a923-a48b00787023.sqlserver.sequelizer.com ;initial catalog=db4a611efd11f74e3ca923a48b00787023;persist security info=True;user id=trqhvlkhohpemdqu;password=DEKguHevGKkpSch2C2JvBpygneUKJ5YNudLymv3mKqSopjHEkQPJGqtogD3pWAUK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.A_W_S" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.24.185.40 ;initial catalog=Juega;persist security info=True;user id=juega;password=20941234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="Juega.dramos" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Juega;persist security info=True;user id=sa;password=temporal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.dbustillo" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= DAVIDBUSTILLO;initial catalog=Juega;persist security info=True;user id=sa;password=HN91dadk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.Rudy" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-574BBQ0N75T;initial catalog=Juega;persist security info=True;user id=sa;password=temporal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.Laura" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-574BBQ0N75T;initial catalog=Juega;persist security info=True;user id=sa;password=temporal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.Javier" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= JAVIER-LAPTOP\SQL2012;initial catalog=Juega;persist security info=True;user id=sa;password=abc+123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.Cris" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= DEV\MSSQLDEV;initial catalog=Juega;persist security info=True;user id=sa;password=stone015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.Maynor" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= MAYNOR-PC\SQLEXPRESS2014;initial catalog=Juega;persist security info=True;user id=sa;password=administrador;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Juega.Jesus" connectionString="metadata=res://*/BDD.Modelo.csdl|res://*/BDD.Modelo.ssdl|res://*/BDD.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= WIN-574BBQ0N75T;initial catalog=Juega;persist security info=True;user id=sa;password=temporal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TwilioSid" value="AC765cae8b9e68bbc3b826324564ba9495" />
    <add key="TwilioToken" value="c81d6b96a0cafbf3e49da04515bb4c7b" />
    <add key="TwilioFromPhone" value="+15133998016" />
    <add key="mailAccount" value="xyz" />
    <add key="mailPassword" value="password" />
  </appSettings>
  <system.web>

    <customErrors mode="On">
      <error statusCode="404" redirect="~/views/shared/error.cshtml"/>
      <error statusCode="400" redirect="~/views/shared/error.cshtml"/>
      <error statusCode="502" redirect="~/views/shared/error.cshtml"/>
      <error statusCode="503" redirect="~/views/shared/error.cshtml"/> 
      
    </customErrors>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="30"></forms>
    </authentication>
    <roleManager enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear /> 
        <add connectionStringName="Seguridad.dramos" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" /> 
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear /> 
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Seguridad.dramos" applicationName="/" enablePasswordRetrieval="false" minRequiredNonalphanumericCharacters="0" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="5" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>