@model IEnumerable<Juega.Models.Juega.EquipoModelSubscripcion>
@{
    ViewBag.Title = "Index";
}

<h3>Seleccione el Equipo al que desea subscribir</h3>



@foreach (var item in Model)
{

    <div class="col-lg-4">
        <div class="panel widget">
            <div style="background-image: url('../../Content/Images/cancha2.jpg'); " class="panel-body text-center bg-center">
                <div class="row row-table">
                    <div class="col-xs-12 text-white">
                        <img src="~/Content/Images/user/06.jpg" alt="Image" class="img-thumbnail img-circle thumb128" />
                        <h3 class="m0">@item.Nombre</h3>
                        <p class="m0">
                            <em class="glyphicon glyphicon-thumbs-up"></em>@item.Valoracion
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body text-center bg-gray-dark">
                <div class="row row-table">
                    <div class="col-xs-4">

                        @if (item.Estado == "")
                          { 
                            <a href="/Usuario_Solicitud_Equipo/CrearSolicitud/@item.IdEquipo" class="text-white">
                              <span>Seleccionar</span>
                            </a>
                        }

                        @if (item.Estado != "")
                        {
                            <span>@item.Estado</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>




}
