@model IEnumerable<Juega.BDD.Usuario_Solicitud_Equipo>

@{
    ViewBag.Title = "Index";
}

<script src="~/app/controller/CargarEquiposController.js"></script>

<h3>Elige un Equipo</h3>



<div class="container" ng-app="appSuscripciones" ng-controller="CargarEquiposCtrl">

    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="item in ListaRegistros">

                <div class="col-lg-4">
                    <div class="panel widget">
                        <div style="background-image: url('../../Content/Images/cancha2.jpg'); " class="panel-body text-center bg-center">
                            <div class="row row-table">
                                <div class="col-xs-12 text-white">
                                    <img ng-src="{{item.FotoPrincipal}}" alt="Image" class="img-thumbnail img-circle thumb128" />
                                    <h3 class="m0">{{item.Nombre}}</h3>

                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-center bg-green">
                            <div class="row row-table">
                                <div class="col-xs-4">
                                    <a href="" ng-click="enviarSolicitud(item)" class=" text-white">
                                        <em class="fa fa-arrow-right fa-2x">Unirse</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
