@{
    ViewBag.Title = "Index";
}

<script src="~/app/controller/complejoDeportivoCtrl.js"></script>


<div class="container" ng-app="appComplejo" ng-controller="complejoDeportivoCtrl">
    <div class="row">
        <div class="col-md-12">



            <div ng-if="MostrarError=='N'">
                <table class="table table-striped">
                    <tr>
                        <th>IdComplejoDeportivo</th>
                        <th>Nombre</th>
                        <th>Telefonos</th>
                        <th>Coodernadas</th>
                    </tr>

                    <tr ng-repeat="item in ListaRegistros">
                        <td> {{item.IdComplejoDeportivo}}  </td>
                        <td> {{item.Nombre}} </td>
                        <td> {{item.Telefonos}} </td>
                        <td> {{item.Coodernadas}} </td>
                        <td>
                            <button type="button" ng-click="EditarRegistro(item)" class="btn-green">Editar</button>
                            <button type="button" ng-click="EliminarRegistro(item)" class="btn-danger">Borrar</button>
                        </td>
                    </tr>

                    <form name="form" class="css-form" novalidate>
                        <tr ng-if="MostrarControles">

                            <td>
                                <input type="text" disabled="disabled" class="form-control" placeholder="Id Registro" ng-model="Registro.IdComplejoDeportivo" />
                            </td>

                            <td>
                                <input type="text" class="form-control" placeholder="Nombre" maxlength="10" name="txtNombre" ng-model="Registro.Nombre" />
                            </td>

                            <td>
                                <input type="text" class="form-control" placeholder="Telefonos" ng-model="Registro.Telefonos" />
                            </td>

                            <td>
                                <input type="text" class="form-control" placeholder="Coodernadas" ng-model="Registro.Coodernadas" />
                            </td>

                            <td>
                                <button type="button" class="btn btn-primary" ng-click="Guardar()">Aceptar</button>
                                <button type="button" class="btn btn-default" ng-click="Limpiar()">Cancelar</button>
                            </td>
                        </tr>
                    </form>


                </table>
                <a ng-click="NuevoRegistro()" class="btn btn-primary">Nuevo</a> 
            </div>


            <div ng-if="MostrarError=='S'">
                <br />
                <br />
                <div class="alert alert-danger" role="alert">
                    {{Mensaje}}
                </div>
            </div>

            <div ng-if="MostrarAlerta=='S'">
                <br />
                <br />
                <div class="alert alert-warning" role="alert">
                    {{Mensaje}}
                </div>
            </div>

            <div ng-if="MostrarInfo=='S'">
                <br />
                <br />
                <div class="alert alert-green" role="alert">
                    {{Mensaje}}
                </div>
            </div>

        </div>
    </div>
</div>
