@model Juega.Models.Juega.CanchaModel


<h3>Crear Cancha</h3>

<script src="~/Scripts/jquery-2.1.3.js"></script>



<div class="panel panel-default">
    <div class="panel-body">
        <form id="example-form" action="#">
            <div>

                <h4>
                    Complejo Deportivo
                    <br>
                    <small>Especifique a que complejo deportivo pertenece</small>
                </h4>
                <fieldset>
                    <p class="lead">Seleccionar Complejo</p>

                    <select id="cboIdComplejoDeportivo" class="form-control required">
                        <option value=""></option>
                    </select>

                    <div class="editor-field">
                        @Html.HiddenFor(model => model.IdCancha, new { @class = "form-control required", @hidden = "hidden" })
                    </div>
                </fieldset>

                <h4>
                    Cuenta
                    <br>
                    <small>Por favor digite la informacion solicitada</small>
                </h4>
                <fieldset>
                    <label for="Nombre">* Nombre de la cancha</label>
                    <input id="txtNombre" name="txtNombre" type="text" class="form-control required">
                    <br />
                    <br />
                    <label for="NumEspectadores"> * Capacidad de espectadores</label>
                    <input id="txtNumEspectadores" name="txtNumEspectadores" type="number" class="form-control required">
                    <br />
                    <br />
                    <p>(*) Obligatorio</p>
                </fieldset>

                <h4>
                    Tamaño
                    <br>
                    <small>Especifique las dimensiones de la cancha</small>
                </h4>
                <fieldset>
                    <label for="Largo">Metro de Largo</label>
                    <input id="txtLargo" name="txtLargo" type="number" class="form-control number">
                    <br />
                    <br />
                    <label for="Ancho">Metros de Ancho</label>
                    <input id="txtAncho" name="txtAncho" type="number" class="form-control number">
                </fieldset>

                <h4>
                    Fotos
                    <br>
                    <small>Puede subir las fotografias de la cancha</small>
                </h4>
                <fieldset>
                    <p class="lead text-center">Seccion de fotos!</p>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    window.onload = CargarComplejos()

    function CargarComplejos() {
        $.getJSON("http://localhost:54849/ComplejoDeportivo/ObtenerComplejos", null, function (data) {
            $.each(data.complejos, function (index, item) {
                //$("#cboIdComplejoDeportivo").append($("<option></option>") .text(item.Description).val(item.Id) );
                $("#cboIdComplejoDeportivo").append($("<option value=" + item.Id + ">" + item.Description + "</option>"));
            });
        });
    }
</script>

@section Styles { }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/jquerySteps")
    @Scripts.Render("~/bundles/demoWizard")
}