@{
    ViewBag.Title = "Horarios";
}

<style>
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 400px;
        height: 300px;
    }
</style>

<link href="~/Scripts/datetime/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Scripts/datetime/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
<link href="~/Scripts/datetime/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Scripts/datetime/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/datetime/js/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common.min.css">
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.rtl.min.css">
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.default.min.css">
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css">
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.default.min.css">
<link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.mobile.all.min.css">

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>

<script src="~/app/controller/HorarioCtrl.js"></script>


<h3>
    @ViewBag.NombreCancha
    <small>Definir horario de la cancha</small>
</h3>




<div class="container" ng-app="appHorario" ng-controller="HorarioCtrl" data-ng-init="Init('@ViewBag.IdCancha')">

    <div ng-if="MostrarError=='S'">
        <br />
        <br />
        <div class="alert alert-danger" role="alert">
            {{Mensaje}}
        </div>
    </div>


    <div ng-if="MostrarAlerta=='S'">
        <br />
        <br />
        <div class="alert alert-warning" role="alert">
            {{Mensaje}}
        </div>

    </div>

    <div ng-if="MostrarInfo=='S'">
        <br />
        <br />
        <div class="alert alert-green" role="alert">
            {{Mensaje}}
        </div>
    </div>


    @*<input id="tpDesde" value="" />
        <input id="tpHasta" value="" />*@


    <div ng-if="MostrarDetalle=='S'">

        <div class="panel panel-default">
            <br />
            <h2>Detalle de horas</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in DetalleHorasXDia">
                        <td> {{item.HoraDesde}} </td>
                        <td> {{item.HoraHasta}} </td>
                        <td> {{item.Precio}} </td>
                        <td> {{item.Estado}} </td>
                        <td>
                            <button type="button" ng-click="EditarRegistro(item)" class="btn-green">Editar</button>
                            <button type="button" ng-click="EliminarRegistro(item)" class="btn-danger">Borrar</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Modificar Horario</div>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Desde</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="text" ng-model="Registro.HoraDesde" placeholder="Hora" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="Registro.HoraDesde" placeholder="Min" class="form-control" />
                            </div>
                            <label class="radio-inline c-radio">
                                <input id="inlineradio1" type="radio" name="i-radio" value="AM" />
                                <span class="fa fa-circle"></span>P.M.
                            </label>
                            <label class="radio-inline c-radio">
                                <input id="inlineradio2" type="radio" name="i-radio" value="PM" checked="checked" />
                                <span class="fa fa-circle"></span>A.M.
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hasta</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="text" size="5" ng-model="Registro.HoraHasta" placeholder="Hora" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" size="5" ng-model="Registro.HoraHasta" placeholder="Min" class="form-control" />
                            </div>

                            <label class="radio-inline c-radio">
                                <input id="inlineradio1" type="radio" name="i-radio" value="AM" />
                                <span class="fa fa-circle"></span>P.M.
                            </label>
                            <label class="radio-inline c-radio">
                                <input id="inlineradio2" type="radio" name="i-radio" value="PM" checked="checked" />
                                <span class="fa fa-circle"></span>A.M.
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Precio</label>
                    <div class="col-sm-10"> 
                        <div class="input-group m-b">
                            <span class="input-group-addon">L.</span>
                            <input type="text" ng-model="Registro.nPrecio" class="form-control" />
                            <span class="input-group-addon">.00</span>
                        </div>  
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="input-group m-b">
                            <select ng-model="Registro.IdEstado" ng-options="i.IdEstado as i.Descripcion for i in ListaEstados">
                                <option value="">Estado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

    <br />
    <div ng-repeat="item in Horarios">

        <div class="col-lg-4">
            <div class="panel widget">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-info-light pv-lg">
                        <div class="text-sm">{{item.Mes}}</div>
                        <br />
                        <div class="h2 mt0">{{item.Dia}}</div>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div class="ph">
                            <em ng-click="EditarHorario(item.IdHorario_Dia)" class="btn btn-link pull-right">Editar</em>
                        </div>
                        <div class="text-uppercase">{{item.NombreDia}}</div>
                        <div class="h5">{{item.CantHorarios}} <small>hrs.</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<script type="text/javascript">

    $("#tpHasta").kendoTimePicker({
        animation: {
            close: {
                effects: "fadeOut zoom:out",
                duration: 300
            },
            open: {
                effects: "fadeIn zoom:in",
                duration: 300
            }
        }
    });

    $("#tpDesde").kendoTimePicker({
        animation: {
            close: {
                effects: "fadeOut zoom:out",
                duration: 300
            },
            open: {
                effects: "fadeIn zoom:in",
                duration: 300
            }
        }
    });


    //$('#datepicker').datepicker({
    //    weekStart: 1,
    //    todayBtn: true,
    //    clearBtn: true,
    //    language: "es",
    //    todayHighlight: true,
    //    toggleActive: true
    //});


    //$('#FechaClonar').datepicker({
    //    weekStart: 1,
    //    todayBtn: true,
    //    clearBtn: true,
    //    language: "es",
    //    todayHighlight: true,
    //    toggleActive: true,
    //});

    //$('#FechaClonar').change(function () {

    //});

    //$('#HoraDesde').datetimepicker({
    //    format: 'LT'
    //});

    //$('#HoraHasta').datetimepicker({
    //    format: 'LT'
    //});


</script>
