@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Juega</h1>
    <p class="lead">El portal en linea.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saber mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TEST-Rama DAVID - push</h2>
        <h2>Juega!!! Administra tus equipos y/o canchas</h2>
        <p>
            Bienvenido al portal que te ayuda al mantener sus canchas deportivas al dia y en la red.
            Administra tus equipos deportivos, jugadores y encuentros.
            Divierte, comenta e informa  a tus amigos.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Registrarse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Informate</h2>
        <p>Elige una gran variedad de canchas, verifica su disponilidad, ubicacion y precios.</p>
        <p>Verifica el tablero principal, informate sobre el estado de las canchas y equipos, de lo que sucede en el momento!!!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Reserva en linea &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enfrentante</h2>
        <p>Haz retos deportivos, no solo es futbol, cual encuentro que se maneje en alguna cancha.</p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver tablero &raquo;</a></p>
    </div>
</div>