
/* Styles for editor and display helpers
----------------------------------------------------------*/
/*.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}*/

/*.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}*/

/* Styles for the image overview
-----------------------------------------------------------*/

.imageContainer {
    margin: 10px; position: relative;
}

.imageBox {
    margin: 5px; float: left; height: 96px; border: 0; overflow: hidden;
    width: 128px;
}

.imageBox:hover {
    height: 104px; margin: 0; border: 1px solid #CCC; background: #FDFDFD;
    z-index: 1; width: 136px;
}

.imagePreview {
    height: 100%; display: block; margin: 0 auto;
}

.imageCenter {
    text-align: center; margin: 20px 0; font-weight: bold;
}

/* Styles for the image uploader
-----------------------------------------------------------*/
#upload-choices {
    width: 450px;
    float: left;
}

#upload-cut {
    margin-left: 480px;
    padding-top: 10px;
    min-width: 150px;
}

#preview {
    max-width: 100%;
    display: block;
}

.editor-row {
    margin: 10px 0;
    height: 40px;
    width: 100%;
}

.editor-row div {
	margin: 0; height: 40px; display: inline-block;
}

.editor-row div.editor-label {
    width: 150px;
}

.editor-row div.editor-field {
    width: 300px;
}

.editor-row .editor-field input {
    width: 300px; height: 100%; box-sizing: border-box;
}



.flickrImages {
    position: absolute; left: 50%; top: 10%; width: 560px; margin-left: -300px; padding: 20px;
    background: #FFF; border-radius: 10px; border: 0; box-shadow: 0 3px 10px #666;
}

.flickrImage {
    height: 96px; margin: 4px; float: left; cursor: pointer;
}